<%= render "layouts/errors", :object => @comment %>

<%= form_for [@story, @contribution, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, :class => "form-control" %>
  </div>
  <%= f.submit, :class => "btn btn-success" %>
<% end %>
