<%= render "layouts/errors", :object => @contribution %>

<%= form_for [@story, @contribution] do |f| %>
  <%= f.hidden_field :image_url, :value => @rss_url %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, :class => "form-control" %>
  </div>
  <%= f.submit "Contribute To Story", :class => "btn btn-success" %>
<% end %>
